@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  background: #ffffff;
}

body {
  background: #ffffff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

/* Better blog typography */

article p {
  margin-bottom: 2rem;
}

article h2 {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

article h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

article ul,
article ol {
  margin-bottom: 2rem;
}

article li {
  margin-bottom: 0.75rem;
}

/* Fix iOS Safari auto text color changes */

h1,
h2,
h3,
h4,
h5,
h6,
summary {
  color: #171717;
}

/* Improve text rendering */

body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
